export(LogRatioLasso)
export(LogRatioLogisticLasso)
export(LogRatioCoxLasso)
import(Rcpp)
import(RcppArmadillo)
importFrom(caret,createFolds)
import(survival)
import(ggplot2)
import(RcppProgress)
import(reshape)
useDynLib(LogRatioReg)