export(LogRatioLasso)
export(LogRatioLogisticLasso)
export(LogRatioCoxLasso)
import(Rcpp)
import(RcppArmadillo)
import(caret)
import(survival)
import(ggplot2)
import(RcppProgress)
useDynLib(LogRatioReg)